{% load static %}




<!DOCTYPE html>
<html>

    {% if request.user.is_authenticated %}
        Logged in user: {{ request.user }}.<br>

    {% else %}
        Not logged in.
    {% endif %}<br>


    <head>
        <title>Mock Game-O-Meter</title>
        <link rel="stylesheet" href="{% static 'newGameoMeter.css' %}">
    </head>

    <button onclick="myFunction()">Click me!</button>

    <body>

        <p id="consensus">Harry~~~~~diddyah put yet name in the goblat of firah.</p>  
        
        <div class="search">
            <form action="{% url 'search_results' %}" method="get">

            <input name="q" type="text" placeholder="Search Games"> <input type="submit" class="search"> <br>
                        
            Newest to Oldest: <input type="radio" name="filters" value="newest"><br>
            Highest Critics Rating: <input type="radio" name="filters" value="highest_critics"><br>
            Lowest Critics Rating: <input type="radio" name="filters" value="lowest_critics"><br>
            Highest Audience Rating: <input type="radio" name="filters" value="highest_audience"><br>
            Lowest Audience Rating: <input type="radio" name="filters" value="lowest_audience"><br>
            
            </form>
        </div>

        <h1 class="title"><a class="title" href="{% url 'home' %}">Mock Game-O-Meter</a></h1>

        

        

        {% block content %}

        {% endblock %}

    </body>

    {% block scripts %}

    {% endblock scripts %}

</html>