{% extends 'newGameoMeter/base.html' %}
{% load static %}

{% block content %}
    <div class="game-info-grid">
    {% if game.poster_link != None %} 
        <img src="{{game.poster_link}}" width="120px"> <br>
    {% else %}
        <img src="{% static 'images/no-poster.jpg' %}" width="120px"> <br>
    {% endif %}

    <div class="title-n-numbers">
    {{game.name}}<br>

        <div class="score-info">
            
            <div class="critics-info">
                <!--If there are more than 0 reviews, we will display the number of fresh/rotten reviews 
                even if there is no score.-->
                {% if total_reviews > 0 %}
                    <!--Only displays scores if there are at least five reviews.--> 
                    {% if total_reviews >= 5 %}
                        <!--If ALL CRITICS score is 75% or higher, the Certified Fresh logo will also display for the 
                        top critics, regardless of what the score is.-->
                        {% if is_cf == True %}
                            <img class="tomato-main" src="{% static 'images/certified-fresh.png' %}">
                            <b>{{controlometer}}% </b><br>
                                Average Rating: {{average_rating}}/10<br>
                                <!--Used to track the number of reviews.-->
                            
                                Total Reviews: {{total_reviews}}<br>
                                Fresh: {{num_fresh}} | Rotten {{num_rotten}}
                                <br>
                            <div class="bar-n-consensus">
                                <progress class="fresh" value="{{controlometer}}" max="100"> </progress>
                                <p id="consensus">Critics' Consensus: {{game.game_scores.critics_consensus}}</p>
                            </div>
                            
                            <br>
                        {% else %}
                            <!--The score will be fresh if it is 60% or higher.-->
                            {% if controlometer >= 60 %}
                                <img class="tomato-main" src="{% static 'images/fresh.png' %}">
                                <b>{{controlometer}}% </b><br>
                                Average Rating: {{average_rating}}/10<br>
                                <!--Used to track the number of reviews.-->
                            
                                Total Reviews: {{total_reviews}}<br>
                                Fresh: {{num_fresh}} | Rotten {{num_rotten}}
                                <br>

                                <div class="bar-n-consensus">
                                    <progress class="fresh" value="{{controlometer}}" max="100"> </progress>
                                    {% if total_reviews >= 20 %}
                                        <p id="consensus">Critics' Consensus: {{game.game_scores.critics_consensus}}</p>
                                    {% else %}
                                        <p id="consensus">No consensus yet.</p>
                                    {% endif %}
                                </div>
                                
                                
                                <br>
                            <!--The score will be rotten if it is below-->
                            {% else %}
                                <img class="tomato-main" src="{% static 'images/rotten.png' %}">
                                <b>{{controlometer}}% </b><br>
                                Average Rating: {{average_rating}}/10<br>
                                <!--Used to track the number of reviews.-->
                            
                                Total Reviews: {{total_reviews}}<br>
                                Fresh: {{num_fresh}} | Rotten {{num_rotten}}
                                <br>

                                <div class="bar-n-consensus">
                                    <progress class="rotten" value="{{controlometer}}" max="100"> </progress>
                                    {% if total_reviews >= 20 %}
                                        <p id="consensus">Critics' Consensus: {{game.game_scores.critics_consensus}}</p>
                                    {% else %}
                                        <p id="consensus">No consensus yet.</p>
                                    {% endif %}<br>
                                </div>
                                
                                <br>
                            {% endif %}
                        {% endif %}
                    
                    
                    <!--Case where there are not enough reviews for a score.-->
                    {% else %}
                        No Score Yet.<br>
                    {% endif %}

                    
                    <br><br>
                    

                {% else %}
                    No Score Yet.<br>
                {% endif %}
                
            </div>

            <div class="user-info">
                {% if user_percent >= 0 %}
                    {% if user_percent > 59.0 %}
                        <img src="{% static 'images/audience-yay.jpg' %}" width="20px" height="20px">
                    {% else %}
                        <img src="{% static 'images/audience-nay.jpg' %}" width="20px" height="20px">
                    {% endif %}

                    {{user_percent}}%<br>
                    {{user_rating}}<br>
                {% endif %}
            </div>
        </div>
    
    </div>
    
    </div>
    {% if total_reviews %}
        <a href="{% url 'score_chart' game.pk %}">SEE SCORE CHART</a><br>
    {% endif %}
    <a href="{% url 'update_game' game.pk %}">UPDATE GAME INFO</a><br>
    {% if game.game_scores %}
        <a href="{% url 'update_scores' game.game_scores.pk %}">UPDATE SCORES</a>
    {% endif %}<br>

    FILTER CONSOLES:
    
        <form action="{% url 'game_details' game.pk %}" method="get">
                <!--Option to filter between all critics and Top Critics.-->
                All Critics: <input type="radio" name="critic-type" value="all-critics"><br>
                Top Critics Only: <input type="radio" name="critic-type" value="only-tc"><br>

                <!--Option to filter based on the consoles that reviews have been published for.-->
                {% if game.filtered_consoles %}
                    <input type="checkbox" id="console" name="console", value="All">All Systems<br>
                    {% for console in game.filtered_consoles %}
                        <input type="checkbox" id="console" name="console" value="{{console}}"> {{console}}<br>
                    {% endfor %}
                {% endif %}
                <!--Add a function to sort by dates here.-->
                <input type="fromSlider" id="date-range-low" name="date-range-low" min="0" max="100">
                <input type="toSlider" id="date-range-high" name="date-range-high" min="0" max="100">

                <input type="submit"><br>
        </form>
        {% if latest_date %}
            {{latest_date}}<br>
        {% endif %}
    
    <br>

    

    <p id="consensus">Dobby has~~~~ freed his elf!</p>
    <br>

    {% if total_reviews >= 20 %}
        Critics' Consensus: <p id="consensus">{{game.game_scores.critics_consensus}}</p><br>
    {% elif total_reviews >= 5%}
        Critics' Consensus: No consensus yet.
    {% else %}
        
    {% endif %}
    
    <br>

   

    <br>
    <br>
    <br>

    {% if meta_bars %}
        <div class="bar-grid">
            {% for bar in meta_bars %}
                <div class="bars" style="width: 20px; height: 80px; background-color: {{bar}};"></div>
            
            {% endfor %}
        </div>
        
    {% endif %}

    {% if metascore >= 0 %}
        {{metascore}}
    {% endif %}
    <br>

    PUBLISHER: {{game.publishers}}<br>
    DEVELOPER: {{game.developeres}}<br>
    RELEASE DATE: {{game.release_date}}<br>
    GENRE: {{game.genre}}<br>
    PLATFORMS: {{game.platforms}}<br>

    {% if game.get_reviews == None %}
        No reviews yet.
    {% else %}
        <br>
        {% for review in random_reviews %}

            {{review.publication}}, {{review.author}}

            {% if review.date_published != "N/A" %}
                {{review.date_published}}
            {% endif %}
            
            <br>
            {{review.quote}}<br>
            {{review.platform}}<br>
            
            {% if review.fresh_rotten == True %}
                <img src="{% static 'images/fresh.png' %}" width="20px" height="20px">
            {% else %}
                <img src="{% static 'images/rotten.png' %}" width="20px" height="20px">
            {% endif %}

            <!--Links to review if available.-->
            {% if review.url_link %}
                {% if review.check_tomato == None %}
                    
                {% else %}
                     | <a href="{{review.url_link}}" target="_blank">Full Review</a>
                {% endif %}
            {% endif %}

            {% if review.display_score != "No Score" %}
                {{review.display_score}}
            {% endif %}
            
            <br>
            <br>

        {% endfor %}
        <a href="{% url 'game_reviews' game.pk %}">Click here to see game reviews.</a>
        
    {% endif %}

{% endblock %}

<!--The script used to filter the review score(s) in real time.-->
{% block scripts %}
<script>
    const num_fresh = "{{num_fresh}}"
    const num_rotten = "{{num_rotten}}"
    const total_reviews = "{{total_reviews}}"
    const controlometer = "{{controlometer}}"
    const average_rating = "{{average_rating}}"
    console.log(num_fresh)
    console.log(num_rotten)
    console.log(total_reviews)
    console.log(controlometer)
    console.log(average_rating)

    const console_filter = document.getElementById('console')
    console.log(console_filter)

    let filteredReviews = []


</script>
{% endblock scripts %}

