{% extends 'newGameoMeter/base.html' %}
{% load static %}

{% block content %}


<img src="{{game.poster_link}}" width="120px"> <br>
    {{game.name}}<br>

    {% if game.game_scores %}
        <a href="{% url 'update_scores' game.game_scores.pk %}">UPDATE SCORES</a>
    {% endif %}<br>

    <div class="score-info">
    
    {% if game.fake_controlometer %}
        <!--Only displays scores if there are at least five reviews.--> 
        {% if total_reviews >= 5 %}
            {% if game.fake_controlometer > 74 %} 
                <!--Case to see if there is more than 40 reviews total; including unfiltered consoles.-->
                {% if game.num_reviews >= 40 %}
                    <img src="{% static 'images/certified-fresh.jpg' %}" width="20px" height="20px">
                {% else %}                   
                    <img src="{% static 'images/fresh.jpg' %}" width="20px" height="20px">
                {% endif %}
                <!--The critical score info.-->
                {{controlometer}}%<br>
                {{average_rating}}/10<br>
                <progress class="fresh" value="{{controlometer}}" max="100"> {{controlometer}}% </progress><br>
            {% elif game.fake_controlometer >= 60 %}
                {% if controlometer >= 60 %}
                    <img src="{% static 'images/fresh.jpg' %}" width="20px" height="20px">
                    {{controlometer}}%<br>
                    {{average_rating}}/10<br>
                    <progress class="fresh" value="{{controlometer}}" max="100"> {{controlometer}}% </progress><br>
                {% else %}
                    <img src="{% static 'images/rotten.jpg' %}" width="20px" height="20px">
                    {{controlometer}}%<br>
                    {{average_rating}}/10<br>
                    <progress class="rotten" value="{{controlometer}}" max="100"> {{controlometer}}% </progress><br>
                {% endif %}
                <!--The critical score info.-->
                
            {% else %}
                {% if controlometer >= 60 %}
                    <img src="{% static 'images/fresh.jpg' %}" width="20px" height="20px">
                    {{controlometer}}%<br>
                    {{average_rating}}/10<br>
                    <progress class="fresh" value="{{controlometer}}" max="100"> {{controlometer}}% </progress><br>
                {% else %}
                    <img src="{% static 'images/rotten.jpg' %}" width="20px" height="20px">
                    {{controlometer}}%<br>
                    {{average_rating}}/10<br>
                    <progress class="rotten" value="{{controlometer}}" max="100"> {{controlometer}}% </progress><br>
                {% endif %}
                <!--The critical score info.-->
                {{controlometer}}%<br>
                {{average_rating}}/10<br>
            {% endif %}
            
        <!--Case where there are not enough reviews for a score.-->
        {% else %}
            No Score Yet.<br>
        {% endif %}
        <!--Used to track the number of reviews.-->
        {{total_reviews}} reviews.<br>
        Fresh: {{num_fresh}} | Rotten {{num_rotten}}
        <br><br>

    {% else %}
        No Score Yet.<br>
    {% endif %}
    </div>

    FILTER CONSOLES:
    {% if game.filtered_consoles %}
        <form action="{% url 'game_details' game.pk %}" method="get">
            <input type="checkbox" name="console", value="All"> All Systems<br>
            {% for console in game.filtered_consoles %}
                <input type="checkbox" name="console", value="{{console}}"> {{console}}<br>
            {% endfor %}
            <!--Add a function to sort by dates here.-->
            <input type="fromSlider" id="date-range" name="date-range" min="0" max="100">
            <input type="toSlider" id="date-range" name="date-range" min="0" max="100">

            <input class="console" type="submit"><br>
        </form>
    {% endif %}
    <br>

    {% if game.game_scores %}
        {% if game.game_scores.user_percent > 59.0 %}
            <img src="{% static 'images/audience-yay.jpg' %}" width="20px" height="20px">
        {% else %}
            <img src="{% static 'images/audience-nay.jpg' %}" width="20px" height="20px">
        {% endif %}
    

        {{game.game_scores.user_percent}}<br>
        {{game.game_scores.user_rating}}<br>

    <p id="consensus">Dobby has~~~~ freed his elf!</p>
    <br>


    Critics' Consensus: <p id="consensus">{{game.game_scores.critics_consensus}}</p><br>
    <br>
    {% endif %}
   

    <br>
    <br>
    <br>

    {% if game.meta_bars %}
        {% for bar in game.meta_bars %}
            <div class="bars" style="width: 40px; height: {{game.bar_length}}px; background-color: {{bar}};"></div>
            
        {% endfor %}
        {{game.game_scores.mock_mc}}
    {% endif %}
    <br>

    PUBLISHER: {{game.publishers}}<br>
    DEVELOPER: {{game.developeres}}<br>
    RELEASE DATE: {{game.release_date}}<br>
    GENRE: {{game.genre}}<br>
    PLATFORMS: {{game.platforms}}<br>

    {% if game.get_reviews == None %}
        No reviews yet.
    {% else %}
        <br>
        {% for review in game.three_random_reviews %}

            {{review.publication}}, {{review.author}}

            {% if review.date_published != "N/A" %}
                {{review.date_published}}
            {% endif %}
            
            <br>
            {{review.quote}}<br>
            
            {% if review.fresh_rotten == True %}
                <img src="{% static 'images/fresh.jpg' %}" width="20px" height="20px">
            {% else %}
                <img src="{% static 'images/rotten.jpg' %}" width="20px" height="20px">
            {% endif %}

            <!--Links to review if available.-->
            {% if review.url_link %}
                {% if review.check_tomato == None %}
                    
                {% else %}
                     | <a href="{{review.url_link}}" target="_blank">Full Review</a>
                {% endif %}
            {% endif %}

            {% if review.display_score != "No Score" %}
                {{review.display_score}}
            {% endif %}
            
            <br>
            <br>

        {% endfor %}
        <a href="{% url 'game_reviews' game.pk %}">Click here to see game reviews.</a>
        
    {% endif %}

{% endblock %}

<script src="{% static 'jsfunc.js' %}"></script>
{% block script %}{% endblock %}

