{% extends 'newGameoMeter/base.html' %}
{% load static %}

{% block content %}

<img src="{{game.poster_link}}" width="120px"> <br>
    {{game.name}}<br><br>
    <a href="{% url 'game_details' game.pk %}">Back to main game page.</a><br>
    {% if game_reviews == None %}
        No reviews yet.<br>
    {% else %}

        <form action="{% url 'game_reviews' game.pk %}" method="get">
            All Reviews: <input type="radio" name="f-r" value="all"><br>
            Fresh Only: <input type="radio" name="f-r" value="fresh"><br>
            Rotten ONly: <input type="radio" name="f-r" value="rotten"><br> 

            Sort By Latest First: <input type="radio", name="date",value="latest"><br>
            Sort By Earliest First: <input type="radio", name="date",value="earliest"><br>

            

            {% if game.filtered_consoles != None %}
                <input type="checkbox" name="console", value="All"> All Systems<br>
                {% for console in game.filtered_consoles %}
                    <input type="checkbox" name="console", value="{{console}}"> {{console}}<br>
                {% endfor %}
            {% endif %}


            (BUTTON THAT FILTERS WITH WHATEVER CONSOLES THIS GAME IS ON)<br>

            <input class="reviews" type="submit"><br>
        </form>


        {% for review in game_reviews %}
            {{review.publication}}, {{review.author}}

            {% if review.date_published != "N/A" %}
                {{review.date_published}}
            {% endif %}
            
            <br>
            {{review.quote}}<br>

            {{review.platform}}<br>
            
            {% if review.fresh_rotten == True %}
                <img src="{% static 'images/fresh.jpg' %}" width="20px" height="20px">
            {% else %}
                <img src="{% static 'images/rotten.jpg' %}" width="20px" height="20px">
            {% endif %}

            <!--Links to review if available.-->
            {% if review.url_link %}
                {% if review.check_tomato == None %}
                    
                {% else %}
                     | <a href="{{review.url_link}}" target="_blank">Full Review</a>
                {% endif %}
            {% endif %}

            {% if review.display_score != "No Score" %}
                {{review.display_score}}
            {% endif %}
            
            <br>
            <br>
        {% endfor %}
    {% endif %}

{% endblock %}

<script src="{% static 'jsfunc.js' %}"></script>
{% block script %}{% endblock %}
