body {
    background-color:rgb(0, 177, 177);
    align-items:center;
}

title {
    text-align: center;
    justify-content: center;
    align-items: center;
    color:brown;
}

head {
    text-align: center;
    justify-content: center;
    align-items: center;
}

div.head {
    align-items: center;
}

/*Used to align the poster+information when searching for games. */
div.search-grid {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-color:rgb(199, 157, 101);
    width:70%;
    align-items:center;

}

div.score-info {
    align-items:center;
}


h1.title {
    text-align:center;
    font-size:60px;
    text-decoration: none;
}

a.title {
    text-decoration: none;
    color: inherit;
}

h1.title:hover {
    color:blue;
    transition:0.2s;
}

progress.fresh {
    background: orange;
}

progress.fresh::-webkit-progress-value {
    background-color: #bc0000;
}

progress.rotten {
    background: orange;
}

progress.rotten::-webkit-progress-value {
    background-color: #018b0f;
}