body {
    background-color:rgb(1, 211, 211);
    align-items:center;
}

title {
    text-align: center;
    justify-content: center;
    align-items: center;
    color:brown;
}

head {
    text-align: center;
    justify-content: center;
    align-items: center;
}

div.head {
    align-items: center;
}

/*Used to align the poster+information when searching for games. */
div.search-grid {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-color:rgb(199, 157, 101);
    width:50%;
    align-items:center;
    padding:10px;
    border-radius: 10px;

}

div.score-info {
    align-items:center;
}


h1.title {
    text-align:center;
    font-size:60px;
    text-decoration: none;
}

/*Used to stylize the title link.*/
a.title {
    text-decoration: none;
    color: inherit;
}

a.title:hover {
    color:blue;
    transition:0.2s;
}

/*Used to align the objects on the search page.*/
div.search-content {
    align-items:center;
    align-content: center;
    align-self:center;
}

/*General stylization for site links.*/
a.search-title {
    color: inherit;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a.search-title:hover {
    color:blue;
    transition:0.2s;
}

/* Creates effects for the site title.*/
h1.title:hover {
    color:blue;
    transition:0.2s;
}

progress.fresh {
    background: orange;
}

progress.fresh::-webkit-progress-value {
    background-color: #bc0000;
}

progress.rotten {
    background: orange;
}

progress.rotten::-webkit-progress-value {
    background-color: #018b0f;
}

/*Used to align the color bars for the meta-info. */
div.bar-grid {
    display: flex;


}

/*Used to stylize the meta bar.*/
div.bars {
    padding:0px;
}
